:root {
    --blackBg: #131518;
    --white: #FFF;
    --orange: #FC7614;
    --txtGray: #969FAD;
    --ratingBgGray: #262E38;
    --ratingTxtGray: #7C8798;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

body {
    margin: 0;
    background-color: var(--blackBg);
    font-family: "Overpass", sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: var(--white);
}
.main-container {
    padding: 32px;
    max-width: 350px;
    background: var(--black-gradient);
    border-radius: 30px;
}
.img-container {
    background-color: var(--ratingBgGray);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.please-txt {
    color: var(--txtGray);
}
ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ratingBgGray);
    color: var(--ratingTxtGray);
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin: 0;
}
.number:hover {
    background-color: var(--orange);
    color: var(--white);
}
.number.active  {
    background-color: var(--orange);
    color: var(--white);
}
.submit-btn {
    border: none;
    padding: 11px 0;
    width: 100%;
    margin-top: 32px;
    border-radius: 22.5px;
    color: var(--white);
    background-color: var(--orange);
    font-size: 20px;
}
.submit-btn:active, .submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
}
.second {
    text-align: center;
}
.you-selected {
    padding: 4px 19px;
    color: var(--orange);
    background-color: var(--ratingBgGray);
    border-radius: 22.5px;
    width: fit-content;
    margin: 25px auto;
   }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }